@tailwind base;
@tailwind components;
@tailwind utilities;

/* import colors */
@import './colors.css';
@import './tiptap.css';

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
